*{box-sizing:border-box;}
*:not(form):not(input):not(button){transition:all 0.5s;}
body{margin:0; font-family:'Roboto', sans-serif;}

header, main, footer, section, article, figure{display:block;}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {background-color:#fff !important;}

div.container{}

header{min-height:80px; padding:10px 20px; background:rgb(250, 250, 245);}
main{padding:20px; max-width:1000px; margin:0 auto;}

nav{padding:12px 0px; max-width:1000px; margin:0 auto;}


header nav>a{text-decoration:none; color:rgb(0, 0, 0); font-size:30px; font-weight:700; color:rgb(121, 193, 68); display:block;}
header nav>a>img{height:128px; vertical-align:middle; margin:32px 16px 16px 0;}

header form{width:100%; margin:9px 0; display:block; float:none; height:37px;}
header form input{display:block; float:left; width:40%; border:1px solid #ddd; background:#fff; padding:10px 8px;}
header form input:first-child{border-radius:4px 0 0 4px;}
header form input:nth-child(2){border-width:1px 0;}
header form input:focus{outline:none; box-shadow:0 0 5px rgba(66, 156, 0, 1); position:relative; z-index:1;}
header form button{display:block; float:left; width:20%; border:1px solid #ddd; background:rgba(223, 255, 182, 1); border-radius:0 4px 4px 0; padding:10px 8px;}
header form button:hover{background:rgba(181, 255, 125, 1);}
header form button:first-child{padding:10px 20px; border-radius:4px; width:auto;}

main>article{margin:0px 0px 100px 0;}
main>article>a{display: block;}
main>article>img{width:70%; margin:0px 0 0 15px; display:block; margin:0 auto;}

h2{font-size:20px; margin:15px 0 15px 0;}
p{font-family: 'PT Serif', serif; font-weight:200; font-style:italic; font-size:26px; color:rgb(180, 180, 180); margin-top:0px;}
a{text-decoration:none; color:#000;}

nav ul{list-style:none; margin:20px 0; padding:0; width:100%;}
nav ul li{}
nav ul li a{display:block; text-decoration:none; margin:0px; padding:15px 25px; background:rgba(223, 255, 182, 1); border:1px solid #ddd; margin:0 0 2px 0}
nav ul li a:hover{background:rgba(181, 255, 125, 1);}
nav ul li:first-child a{border-radius:7px 7px 0 0;}
nav ul li:last-child a{border-radius:0 0 7px 7px;}


@media (min-width:490px)
{
    header form{height:auto;}
    header form button:first-child{float:right; margin:68px 0;}
}

@media (min-width:550px)
{
    header form{width:60%; float:right; margin:25px 0 0 0;}
    header form button:first-child{float:right; margin:0;}
    header nav>a{font-size:20px;}
    header nav>a>img{height:60px; margin:16px 0;}
    main>article>img{width:40%;}
                     
}

@media (min-width:720px)
{
    main>article{margin:0 0 130px 0px; display:flex;}
    main>article>img{width:30%; margin:0 0 0 70px;}
}

@media (min-width:900px)
{
    header nav>a{font-size:28px;}
    header nav>a>img{height:100px;}
    header form{width:50%; margin:39px 0 0 0;}

    nav{padding:12px 50px;}
    nav ul{margin:20px 0 0 0;}
    main>article{margin:0 50px 130px 50px;}
}