/***********************************************
*
*		MISE EN PAGE
*
**********************************************/

body {background:url(../images/bkg_motif.gif) repeat #eee; font-size:10px; margin:0px; padding:0; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;}

div#page {width:700px; border:1px solid #000; margin:10px auto; text-align:left; box-shadow: 1px 1px 6px #aaa; background-color:#fff;}

div#header{margin:15px 0px; width:700px; height:80px;}
div#col_left{float:left; width:170px; min-height:300px; margin:0 15px; border-right:solid 1px #ccc;}
div#col_right{float:right; width:450px; min-height:300px; margin:0 15px;}

div#bas_page{width:700px; height:0px; clear:both;}

div#footer {width:700px; margin: 0px auto; height:35px; padding: 0px 10px 0px 10px;}

.clear{clear:both;}

/********************************************************************************* 
*
*      MISE EN FORME
*
*********************************************************************************/
td, ul, ol, li, h1, h2, h3, h4, h5, h6, p {margin:0; padding:0}

ul {list-style:none;}
li {}

a{color:#666; text-decoration:underline; font-weight:bold;}
a:link, a:visited {}
a:hover {color:#ff6600; text-decoration:none;}
h1 {font-size:20px; font-weight:normal; text-transform:uppercase; white-space:nowrap; min-width:150px; float:right; padding:15px; margin:0px 0 0px 0; border:1px solid #999; color:#fff; background-color:#ddd; box-shadow: -1px 2px 3px #ccc;}
h2 {font-size:20px; color:#000; font-weight:bold; border-bottom:1px solid #eee; padding:0 0 5px 0; margin:0 0 30px 0;}
h3 {font-size:14px; color:#999; font-weight:normal; height:25px;}
h4 {}
h5 {}
h6 {}

input, select, textarea{ font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; font-size: 10px; padding:0px;}
input[type="text"]{border:1px solid #999; padding:2px; border-radius:8px;}
input[type="submit"]{border:1px solid #999; padding:2px; border-radius:12px; background:#ddd; color:red;}

.calendrier {padding-left:20px;}
.calendrier a{height:25px; line-height:25px; display:block; padding:0px 5px; border:1px solid #eee; background-color:#fff; text-decoration:none; color:#000;}
.calendrier a:hover{border:1px solid #aaa; color:red;}
.calendrier a.actif{border:1px solid #aaa; color:red;}

/*************************************************************
 * 
 *  MENU
 * 
 ************************************************************/
 
ul.menu{list-style:none; margin:25px 0px; border-top:1px solid #ccc;}
ul.menu li{padding:0px;}
ul.menu li a{height:25px; line-height:25px; display:block; padding:0px 5px; border-bottom:1px solid #ccc; border-left:1px solid #ccc; background-color:#fff; text-decoration:none; color:#999;}
ul.menu li a:hover{background-color:#eee; color:#ff6600;}
ul.menu li a.actif{color:#000; background:url(../images/bkg_motif.gif) repeat #eee; padding:0 0 0 15px;}