/***********************************************
*
*		MISE EN PAGE
*
**********************************************/

body {background:url(../images/bkg_motif.gif) repeat #eee; font-size:10px; margin:0px; padding:0; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;}

div#page {width:700px; border:1px solid #000; margin:10px auto; text-align:left; box-shadow: 1px 1px 6px #aaa; background-color:#fff;}

div#header{margin:15px 0px; width:700px; height:80px;}
div#col_left{float:left; width:190px; min-height:300px; margin:0 15px 0 0; border-right:solid 1px #ccc;}
div#col_right{float:right; width:445px; min-height:300px; margin:0 15px;}

div#bas_page{width:700px; height:30px; clear:both;}

div#footer {width:700px; margin: 0px auto; height:35px; padding: 0px 10px 0px 10px;}

.clear{clear:both;}

/********************************************************************************* 
*
*      MISE EN FORME
*
*********************************************************************************/
td, ul, ol, li, h1, h2, h3, h4, h5, h6, p {margin:0; padding:0}

p{margin:12px 0 0 0;}
ul {list-style:none;}
li {}
a{color:#666; text-decoration:underline; font-weight:bold;}
a:link, a:visited {}
a:hover {color:#ff6600; text-decoration:none;}
h1 {font-size:20px; font-weight:normal; text-transform:uppercase; white-space:nowrap; min-width:150px; float:right; padding:15px; margin:0px 0 0px 0; border:1px solid #999; color:#fff; background-color:#ddd; box-shadow: -1px 2px 3px #ccc;}
h2 {font-size:20px; color:#000; font-weight:bold; border-bottom:1px solid #eee; padding:0 0 5px 0; margin:0 0 30px 0;}
h3 {font-size:14px; color:#999; font-weight:normal; height:25px;}
h4 {}
h5 {}
h6 {}

label{line-height:17px;}
label:hover{color:#FFA500; cursor:pointer;}
span.error{color:red; cursor:help; border-bottom:1px dashed red;}
input, select, textarea{ font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; font-size: 10px; padding:2px; border:1px solid #ccc;}
input:focus, select:focus, textarea:focus{border:1px solid orange;}
input.error, select.error, textarea.error{border:1px solid red;}
textarea{width:350px; height:150px;}
input[type="text"]{width:200px;}
input[type="submit"]{border:1px solid #666; font-weight:bold; padding:2px 8px; background:#ddd; color:red; cursor:pointer;}
